<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Contract</title>
</head>
<body>

<h1 th:text="${contract.id != null ? 'Edit Contract' : 'Create Contract'}">Create Contract</h1>
<p><a href="/contracts">Back to Contracts</a></p>

<form th:action="@{/contracts}" th:object="${contract}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div class="row">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" />
    </div>

    <div class="row">
        <label for="status">Status:</label>
        <input type="text" id="status" th:field="*{status}" />
    </div>

    <div class="row">
        <label for="contractTypeId">Contract Type:</label>
        <select id="contractTypeId" th:field="*{contractTypeId}">
            <option value="" disabled selected>Select a type</option>
            <option th:each="ctype : ${contractTypes}"
                    th:value="${ctype.id}"
                    th:text="${ctype.name + ' (' + ctype.type + ')'}">
                Standard Customer Contract
            </option>
        </select>
    </div>
    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>